.new-list-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 294px;
}
.new-list-button-text,
.new-list-button {
  &.new-list-button-text {
    color: #88819f;
    font-weight: 600;
    line-height: 20px;
  }

  &.new-list-button {
    border: none;
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    padding: 0;
    gap: 6px;
    width: 100%;
  }
}
