.workspaces {
    border-radius: 16px;
    background: #fff;
    box-shadow:
        0px 0px 1px 0px rgba(18, 3, 62, 0.11),
        0px 3px 5px 0px rgba(18, 3, 62, 0.1);
    width: 100%;
    max-width: 294px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-main {
        padding: 8px;
        flex-grow: 1;
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }
    &-header {
        min-height: 128px;
        border-bottom: 1px solid #e4e9f3;
        padding: 8px 8px 16px 8px;
    }
    &-header-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
.new-worspace-button-text {
    color: #001c39;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.new-worspace-button {
    margin-top: 8px;
    display: flex;
    width: 278px;
    height: 32px;
    padding: 8px 12px 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(231, 230, 236, 0.5);
    background: #fff;
    box-shadow:
        0px 0px 0px 0px rgba(18, 3, 62, 0.1),
        0px 0px 1px 0px rgba(18, 3, 62, 0.1),
        0px 1px 1px 0px rgba(18, 3, 62, 0.09),
        0px 3px 2px 0px rgba(18, 3, 62, 0.05),
        0px 5px 2px 0px rgba(18, 3, 62, 0.01),
        0px 8px 2px 0px rgba(18, 3, 62, 0);
}
.workspaces-menu {
    height: 192px;
    margin-left: 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.workspaces-menu-item {
    height: 24px;
    display: flex;
    gap: 16px;
}
.workspaces-menu-item-container {
    padding-top: 3px;
    padding-bottom: 3px;
}
.workspaces-menu-item-text {
    color: #b7bec5;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}
.boards {
    color: #007dfc;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}
