.chosen-workspace-div {
    height: 64px;
    border-radius: 8px;
    background: #f4f7fe;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.not-chosen-workspace-div {
    height: 64px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chosen-workspace-label {
    color: #001c39;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    height: 32px;
    margin-top: 16px;
    margin-left: 16px;
}
.not-chosen-workspace-label {
    color: #88819f;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    height: 32px;
    margin-top: 16px;
    margin-left: 16px;
}
.workspace-icon {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: #b3c4d6;
    text-align: center;
    font-weight: 600;
    line-height: 18px;
    padding-top: 7px;
    flex-shrink: 0;
}
.workspace-span {
    margin-left: 12px;
    padding-top: 7px;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.workspace-buttons-container {
    display: none;
    margin-top: 24px;
    margin-right: 16px;
}
.workspace-picker:hover .workspace-buttons-container {
    display: initial;
}
