.task-group-container {
    background-color: #ecf1fd;
    border-radius: 16px;
    padding: 16px 8px 8px 8px;
    width: 294px;
}
.task-group-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.task-group-button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8px;
}
.task-group-button {
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    gap: 6px;
    height: 32px;
    padding: 8px 12px 8px 10px;
}
.task-group-button-text {
    color: #88819f;
    font-weight: 600;
    line-height: 20px;
}
